@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?xmwvy1");
  src: url("../fonts/icomoon.eot?xmwvy1#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?xmwvy1") format("truetype"), url("../fonts/icomoon.woff?xmwvy1") format("woff"), url("../fonts/icomoon.svg?xmwvy1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dashboard:before {
  content: "";
  color: #a8abb6;
}

.icon-collapse-desktop:before {
  content: "";
  color: #a8abb6;
}

.icon-settings:before {
  content: "";
  color: #a8abb6;
}

.icon-video:before {
  content: "";
  color: #a8abb6;
}

.icon-profile:before {
  content: "";
  color: #a8abb6;
}

.icon-plan:before {
  content: "";
  color: #a8abb6;
}

.icon-nutrition:before {
  content: "";
  color: #a8abb6;
}

.icon-market:before {
  content: "";
  color: #a8abb6;
}

.icon-calendar:before {
  content: "";
  color: #a8abb6;
}

.icon-notificaction:before {
  content: "";
  color: #a8abb6;
}